.device-info-box {
  display: grid;
  grid-template-columns: 11fr 1fr 1fr 1fr;
  place-items: center normal;
  height: 44px;
  padding: 0 14px;
  // background-color: black;
  color: white;
  .device-info__time {
    padding-left: 20px;
  }
}
