:root {
  --primary-gradient: linear-gradient(to bottom, #ff0011, #c471ed, #12c2e9);
  // --bubble-gradient: linear-gradient(to bottom, #12c2e9 52px, #c471ed, #f64f59);
  // --bubble-gradient: linear-gradient(to bottom, #1bbbbb 52px, #7231db);
  // --bubble-gradient: linear-gradient(to top, #1bbbbb 52px, #38af6e);
  // --bubble-gradient: linear-gradient(to bottom, #f15811, #f5af19);
  --bubble-gradient: linear-gradient(to bottom, #1aadad, #0575e6);
  --primary-cyan: #1bbbbb;
  --secondary-cyan: #1aadad;
  --cyan-gradient: linear-gradient(to right, #169c9c, #1bd8d8);
  --primary-background: #101218;
  --secondary-background: #1a1c20;
  --scrollbar-size: 10px;
  --ripple-scale: 0;
  --ripple-color: white;
  --ripple-opacity: 0.2;
  --editor-padding: 4px 0;
  --avatar-preview: "";

  --background-size-h: 0px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

nav {
  background-color: unset;
}
button:focus {
  background-color: unset;
}
