:root {
  --primary-gradient: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
  --primary-cyan: #1bbbbb;
  --cyan-gradient: linear-gradient(to right, #169c9c, #1bd8d8);
  --primary-background: #101218;
  --secondary-background: #1a1c20;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
