@import "utilities";
@import "inputs";
@import "buttons";
@import "components";
@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}

.auth-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 150px 28px 80px 28px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home-page {
  .header {
    height: 156px;
    .nav-wrapper {
      width: 100%;
      // position: relative;
      background-color: rgb(24, 24, 24);
      // display: flex;
      //
      /* Add the blur effect */

      .nav-container {
        display: grid;
        grid-template-columns: 1fr 12fr 4fr 1fr;
        color: white;
        height: 64px;
        place-items: center;

        padding: 0 14px;
        // .profile-box {
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        .profile-btn {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        // }
        .page-label {
          display: flex;
          width: 100%;
          font-size: 30px;
          align-items: center;
          padding-left: 12px;
        }
        .nav__icon {
          display: grid;
          place-items: center;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: rgb(75, 75, 75);
          font-size: 18px;
        }
      }
    }
    .search-box {
      position: relative;
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 14px;
      .search {
        color: white;
        width: 100%;
        height: 32px;
        background-color: rgb(47, 48, 54);
        border-radius: 12px;
        margin: 0 !important;
        border-bottom: none !important;
        padding-left: 36px !important;
        padding-bottom: 4px;
        transition: 0s !important;
        &:focus {
          border-bottom: none !important;
          box-shadow: none !important;
          background-color: rgba(47, 48, 54, 0.9);
        }
      }
      svg {
        position: absolute;
        left: 26px;
        color: rgba(255, 255, 255, 0.637);
      }
    }
  }
}
