@import "utilities";
@import "inputs";
@import "buttons";
@import "components";
@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}

.auth-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 150px 28px 80px 28px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .chat-list {
    // div {
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: auto;
    li {
      display: flex;
      align-items: center;
      height: 76px;
      padding: 0 14px;
      .img-box {
        display: grid;
        place-items: center;
        width: 60px;
        height: 60px;
        background-color: gray;
        border-radius: 100%;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .text-box {
        padding-left: 12px;
        .friend {
          font-size: 16px;
        }
        .message {
          color: rgb(170, 170, 170);
        }
      }
      .time-box {
        margin-left: auto;
      }
    }
    .bottom-space {
      width: 100%;
      height: 58px;
    }
    // }
  }

  .footer-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 58px;
    overflow: hidden;
    color: white;
    .footer {
      position: relative;
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(17, 17, 17, 0.7);
      .camera-box {
        display: grid;
        place-items: center;
        width: 46px;
        height: 46px;
        background: var(--primary-gradient);
        background: var(--cyan-gradient);
        border-radius: 100%;
        font-size: 24px;
      }
      z-index: 1;
    }
    .blur {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      backdrop-filter: blur(10px);
    }
  }
}

.add-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .react-swipeable-view-container {
    height: 100%;
  }
  .switch-wrapper {
    padding: 0 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-bottom: 1px solid transparent;
  }
  .incoming-requests-wrapper {
    color: white;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    .incoming__label {
      font-size: 20px;
      padding: 14px 14px 0 14px;
    }
    .incoming__requests {
      color: white;
      display: flex;
      flex-direction: column;
    }
    li {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 14px;
      div {
        display: flex;
        align-items: center;
        .img-box {
          height: 40px;
          width: 40px;
          overflow: hidden;
          border-radius: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name {
          font-size: 16px;
          padding-left: 10px;
        }
        .reject-btn {
          font-size: 20px;
          margin: 0 2px 0 6px;
        }
      }
    }
  }

  .page-divider {
    width: 100%;
    height: 100%;
    color: white;
    overflow-x: auto;
    display: flex !important;
  }

  .segment-button-indicator {
    background-color: red !important;
  }

  .react-swipeable-view-container {
    transition: transform 0.2s cubic-bezier(0.15, 0.3, 0.25, 1) 0s !important;
  }
}
