@import "utilities";
@import "inputs";
@import "buttons";
@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 150px 28px 80px 28px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
